.medication-wrap{
  @include  clearfix();
  .add-prescription-wrap{
    @include  clearfix();
    margin-bottom: 30px;
    .medicine-search{
       width:70%;
       float: left;
      .Select-control{
        border-radius: 0;
      }
      .Select.Select--single.is-searchable.is-focused{
        .Select-control{
          outline: 1px solid #007FFF;
        }
      }
      .Select-arrow{
        display: inline-block;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 0.2em;
        display: inline;
        width: auto;
        height: auto;
        line-height: normal;
        vertical-align: baseline;
        background-image: none;
        background-position: 0 0;
        background-repeat: repeat;
        margin-top: 0;
        border:none;
        color: $gray400;
        font-size: 18px;

        &:before{
          content: "\f002";
        }
      }
    }
    .btn{
      margin-top:3px;
      padding: 6px 10px 7px;
    }
  }
}

.medication__prescription{
  padding-bottom: 50px;
  border-bottom: 1px #858585 solid;
  &:last-child{
    border-bottom:none;
  }
}
.medication__prescription-section {
  color: #000;
  font-size: 12px;
  .table {
    border: 1px #858585 solid;
    .table__row {
      display: flex;
      width: 100%;
      &__date{
        background: #F5F5F5;
        text-align: center;
        border-bottom: 1px solid #858585;
        border-top: 1px #858585 solid;
        padding: 8px 10px;
        box-sizing: border-box;
        display: block;
        font-size: 12px;
        font-family: $primarySemiBoldFont;
      }
    }
    .table__cell {
      flex: 1;
      padding: 10px;
      border-right: 1px #858585 solid;
      font-weight: 700;
      font-family: $primarySemiBoldFont;
      display: flex;
      line-height: 1em;
      font-size: 13px;
      small.extraInfo{
        font-size: 10px;
      }
      &--0 {
        flex: 4;
        align-items: center;
      }
      &--1{
        flex: 5;
        flex-direction: column;
        span {
          //&.table__cell--doseinfo__provider {
          //  display: block;
          //  text-align: right;
          //  color: #cccccc;
          //  font-size: 10px;
          //}
        }
      }
      &--2 {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        span.table__cell--totalqty__remainingdosage {
          display: block;
          font-size: 10px;
        }
      }
      &--3 {
        flex: 2;
        justify-content: center;
        align-items: center;
      }
      &--4 {
        justify-content: center;
        align-items: center;
        span.active{
          color: orange;
        }
        span.scheduled{
          color: green;
        }
      }
      &--5 {
        flex: 2;
        justify-content: center;
        align-items: center;
        .table-actions-active {
          display: flex;
          a {
            flex: 1;
            text-align: center;
            margin-left: 10px;
            text-decoration: underline;
            &:hover{
              text-decoration: none;
            }
          }

        }
      }
      &:last-child {
        border-right: none;
      }
    }

  }
  .table__header {
    &--filled {
      background: #dedede;
    }
    .table__cell--doseinfo{
      flex-direction: row;
    }
  }

  .table__body {
    display: flex;
    flex-direction: column;
    .table__body__row{
      border-bottom: 1px #858585 solid;
      &:last-child {
        border-bottom: none;
      }
    }
    .table__cell {
      font-family: $primaryFont;
      font-weight: 400;
      padding:10px;
    }
    .table__row--dateinfo {
      flex: 1;
      border-bottom: 1px #858585 solid;
      background: rgba(222, 222, 222, 0.74);
      .table__cell {
        font-weight: 700;
        font-family: $primarySemiBoldFont;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


.medicaion__prescription-types{
  padding-top: 20px;
  padding-bottom: 10px;
  ul{
    li{
      display: inline-block;
      float: left;
      padding-right: 2%;
      a{
        display: block;
        font-size: 16px;
        &.active{
          color: #000 !important;
          font-family: $primarySemiBoldFont;
        }
      }
    }
  }
}

p.prescription-heading{
  padding: 0 0 3px;
  border-bottom: 1px solid $gray500;
  color: $gray600;
  margin: 0 0 10px;
  span{
    font-size: 11px;
    color: $gray400;
  }
}
.prescription-modal{
  display: flex;
  label{
    display: block;
    font-family: $primarySemiBoldFont;
    font-size: 12px;
    color: $gray600;
    margin-bottom: 5px;
  }
  .prescription-modal-left{
    flex-grow:4;
    display: flex;
    .flex-item{
      flex-grow:1;
      padding-right: 15px;
    }
    input[type="number"]{
      width:50px;
      display: block;
      padding: 8px 5px 7px;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid $gray400;
    }
    .number-units{
      display: flex;
      .number ,.units{
        padding-right: 5px;
      }
      .units{
        width:100%;
      }
    }
    .form-builder-radio{
      display: block;
      .options-list{
        margin-top:10px;
        font-family: $primarySemiBoldFont;
        font-size: 12px;
        color: $gray600;
        &:last-child{
          margin-top:35px;
        }
        input[type="radio"]{
          margin-right: 10px;
        }

      }
    }
    input[type="date"]{
      margin-top: 5px;
      padding: 8px 10px 7px;
      margin-left: 20px;
      width: 160px;
      border-radius: 4px;
      border: 1px solid $gray400;
      box-sizing: border-box;
    }


  }
  .prescription-modal-right{
    flex-grow:1;
    .prn-button{
      width: 100%;
      float:none;
      margin:0 0 10px;
      background: $gray300;
      box-shadow: 1px 1px 2px $gray300;
      padding: 8px 10px;
      color: $black;
      border: 1px solid $gray500;
    }
    .form-control-buttons{
      float: none;
      clear: both;
      display: block;
    }
    textarea{
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid $gray400;
    }
  }
}

.prescription-button{
    @include clearfix();
    margin:20px 0;
}
.drug-tab{
  margin:10px 0;
  ul{
    li {
      display: inline-block;
      margin-right: 30px;
      a{
        color: $link;
        font-size: 14px;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
        &:active ,&:focus{
          color: $black;
          font-family: $primarySemiBoldFont;
          text-decoration: none;
        }
      }
    }
  }
}